<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>LogonController</servlet-name>
        <servlet-class>colegioweb.controller.LogonController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AlumnoController</servlet-name>
        <servlet-class>colegioweb.controller.AlumnoController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProfesorController</servlet-name>
        <servlet-class>colegioweb.controller.ProfesorController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminController</servlet-name>
        <servlet-class>colegioweb.controller.AdminController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LogonController</servlet-name>
        <url-pattern>/login.do</url-pattern>
        <url-pattern>/logout.do</url-pattern>
        <url-pattern>/registrar.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AlumnoController</servlet-name>
        <url-pattern>/AlumnoController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProfesorController</servlet-name>
        <url-pattern>/ProfesorController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminController</servlet-name>
        <url-pattern>/AsigProfCurso</url-pattern>
        <url-pattern>/ModifProfCurso</url-pattern>
        <url-pattern>/ElimAlum</url-pattern>
        <url-pattern>/ElimProf</url-pattern>
        <url-pattern>/AsigProfCurso2</url-pattern>
        <url-pattern>/ModifProfCurso2</url-pattern>
        <url-pattern>/ElimAlum2</url-pattern>
        <url-pattern>/ElimProf2</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            1200
        </session-timeout>
    </session-config>
</web-app>
